{
  "template_id": "core-vertical-tiles-purchases-category-section",
  "children": [
      {{#each articles}}
              {{{template 'core-vertical-article-tile-template' article=article features=articleFeatures}}}
      {{/each}}
  ]
}