{
  "template_id": "core-vertical-selling-unit-tile-template",
  "layout": {
    "id": "selling-unit-{{sellingUnit.id}}-tile",
    "size": {
      "crossAxis": "(SCREEN_WIDTH - 16 - 4 ) / 2",
      "mainAxis": "118 + (((SCREEN_WIDTH - 16 - 4 ) / 2) * (9/13))"
    },
    "analytics": {
      "contexts": [
        {
          "schema": "iglu:tech.picnic.snowplow.analytics/page_component/jsonschema/1-1-0",
          "data": {
            "type": "tile"
            {{#or position (eq position 0) }}
              ,
              "position": {
                "x": {{#math (math position "%" 2) "+" 1}} {{/math}},
                "y": {{#math (math (math (math position "+" 1) "%" 2) "+" (math position "+" 1)) "/" 2}} {{/math}}
              }
            {{/or}}
          }
        },
        {
          "schema": "iglu:tech.picnic.snowplow.analytics/product/jsonschema/1-0-0",
          "data": {
            "product_id": "{{sellingUnit.id}}"
          }
        }
        {{#if subHeader}}
        ,
        {
          "schema":"iglu:tech.picnic.snowplow.analytics/page_section/jsonschema/1-0-0",
          "data": {
              "name":"{{subHeader.title}}",
              "type": "article_tile"
          }
        }
        {{/if}}
        {{#if sectionContextTitle}}
        ,
        {
          "schema":"iglu:tech.picnic.snowplow.analytics/page_section/jsonschema/1-0-0",
          "data": {
              "name":"{{sectionContextTitle}}",
              "type": "article_tile"
          }
        }
        {{/if}}
      ]
    },
    "features": [ {{#each features as | feature |}} "{{feature}}" {{#unless @last}},{{/unless}} {{/each}} ],
    "type": "ARTICLE_TILE",
    "post_processing_instructions": [
      { "type": "ARTICLE_TILE", "selling_unit": {{#json sellingUnit}}{{/json}} }
    ]
  },
  "context": {},
  "metadata": {}
}
